.container {
  text-align: center;
  margin-top: 50px;
}

h1 {
  font-size: 24px;
}

input[type="file"] {
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  background-color: #40E0D0;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}


